/*geral*/
body {
    font-family: sans-serif;

}
/*estilo aplicado nos elementos  dentro da div-paragrafos*/
#div-paragrafos{
    color:aliceblue;
    background-color: rgb(93,93,145);
}
/*Aplicar o estilo para a classe .longo */

.longo{

    background-color: pink;
}
/*Aplicar o estilo para id=p1 */
#p1 {
    color : brown;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Courier New', Courier, monospace;

}
h1 {background-color: aqua;}